<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>

<!-- image: `https://picsum.photos/400?random=${Math.random()}` -->
 <!-- Then, save the seeds/index.js file changes and run the
node seeds/index.js command again in your terminal to re-seed the campgrounds with these new random image links -->